*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-dark-grey: hsl(0, 0%, 12%);
  --clr-off-black: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  background-color: var(--clr-off-black);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 5px;
}

.card {
  background-color: var(--clr-dark-grey);
  width: 100%;
  max-width: 22rem;

  padding: 2rem;
  border-radius: 1rem;
  text-align: center;

  color: var(--clr-white);
}

.img {
  border-radius: 50%;
  width: 100%;
  max-width: 5rem;
}

.avatar-name {
  margin: 0.4rem 0;
}

.location {
  color: var(--clr-green);
}
.quote {
  margin-top: 2rem;
  margin-bottom: 0;
}

.wrapper-links {
  margin-top: 2rem;
  padding-left: 0;
}

.link {
  background-color: var(--clr-grey);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.link + .link {
  margin-top: 1rem;
}

.link:hover {
  background-color: var(--clr-green);
  color: var(--clr-off-black);
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;

  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
