* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;

  width: 80%;
  max-width: 800px;
  margin: 1em auto;

  padding: 2em;
  /* height: 300px; */
}

.intro-content {
  width: 50%;
}
