@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --color-primary: rgba(255, 251, 0, 0.952);
}

body {
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/*______ card _____*/
.card {
  width: 50%;
  margin: 10% auto;
  background: rgba(0, 0, 0, 0.87);
  padding: 2rem;
}

.card__title {
  color: var(--color-primary);
}

.card__content-color {
  color: var(--color-primary);
}

/*______ buttons _____*/
.btn {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  color: #000;
  background: var(--color-primary);
  margin-bottom: 1em;
  margin-right: 1em;
  font-weight: bold;
}

.btn:hover {
  background: orange;
}
