* {
  box-sizing: border-box;
}

.parent {
  background-color: rgb(51, 80, 128);
  padding: 2em;
  margin: 0 auto;
  width: 90%;
}

.child {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 50%;
  padding: 2em;
}
