.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  margin-top: 1rem;
}

.card-single {
  display: flex;
  background: #fff;
  justify-content: space-between;

  padding: 1.2em;
  border-radius: 5px;

  &-content__title {
    color: $text-grey;
  }
  &-content__icon {
    color: $main-color;
    font-size: 2.5rem;
  }

  &:last-child {
    background: $main-color;
    color: #fff;
  }

  &-content__title-last {
    color: #fff;
  }

  &-content__icon-last {
    color: #fff;
  }
}
