.sidebar {
  width: 21.5rem;
  position: fixed;
  top: 0;

  left: 0;
  height: 100%;
  background: $main-color;

  // z-index: 100;

  &-brand {
    height: 5.625rem;
    padding: 1em 0em 1em 2em;
    color: #fff;
  }

  &-brand__name {
    display: inline-block;
    padding-right: 1em;
  }

  &-menu {
    margin-top: 1rem;
  }

  &-menu__li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1em;
  }

  &-menu__link {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    // padding-left: 1em;
  }

  &-menu__icon {
    font-size: 1.5rem;
    padding-right: 0.5em;
  }
}

.active {
  background-color: #fff;
  padding: 0.7em 0;
  color: $main-color;
  border-radius: 12px 0px 0px 12px;
}
