@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75..100;1,75..100&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-very-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);
  --clr-desaturated-blue-hover: hsl(238, 88%, 71%);
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-moderate-cyan: hsl(170, 45%, 43%);
  --clr-moderate-cyan-hover: hsl(170, 70%, 55%);
  --clr-Light-grayish-blue: hsl(240, 80%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 2rem;
}

/* Header ------------- */
.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0;
  margin-bottom: 4rem;
}

.brand-logo {
  max-width: 6rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

.nav-item + .nav-item {
  padding: 0 1rem;
}

.nav-item__link {
  color: black;
}

.hero-img,
.img-stay-productive {
  width: 100%;
}

/* Hero section -------- */
.hero {
  margin-bottom: 8rem;
}

.hero-wrapper {
  text-align: center;
}

.hero-img {
  max-width: 30rem;
}

.wrapper--content .hero-title {
  font-size: 1.3rem;
  color: var(--clr-very-dark-blue);
  font-weight: bold;
}

.hero-content {
  color: var(--clr-very-dark-blue);
}

.hero-form {
  margin-top: 2rem;
}

.input {
  padding: 0.4rem;
  outline: none;
  width: 100%;

  padding: 0.6rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.5rem;
}

.btn-form,
.btn-early-access {
  width: 100%;
  padding: 0.7rem 0;
  margin-top: 0.5rem;

  background-color: var(--clr-bright-blue);
  color: white;
  font-weight: bold;

  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.btn-early-access:hover,
.btn-form:hover {
  background-color: var(--clr-desaturated-blue-hover);
}

/* Stay productive section ----------- */
.bg-curve__mobile,
.bg-curve__desktop {
  object-fit: cover;
  width: 100%;
  display: block;
}

.bg-stay-productive {
  background-color: #f8f8fe;
}

.wrapper-img {
  text-align: center;
}

.wrapper--content--stay-productive {
  padding-bottom: 4rem;
}

.img-stay-productive {
  max-width: 30rem;
}

.title-1 {
  text-align: center;
  margin: 0;
  padding-top: 4rem;
}

.paragraph {
  margin-bottom: 2rem;
  color: var(--clr-desaturated-blue);
  line-height: 1.6;
}

.how-fylo-works,
.card {
  text-align: center;
}

.how-fylo-works {
  color: var(--clr-moderate-cyan);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}

.how-fylo-works:hover,
.icon-arrow:hover {
  color: var(--clr-moderate-cyan-hover);
}

.card {
  background-color: white;
  margin: 4rem auto;
  padding: 1rem 2rem;

  text-align: left;
  width: 100%;
  max-width: 27rem;

  color: var(--clr-very-dark-blue);
  border-radius: 0.5rem;
  box-shadow: 8px -6px 54px -16px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 8px -6px 54px -16px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 8px -6px 54px -16px rgba(0, 0, 0, 0.71);
}

.icon-quote {
  width: 1.4rem;
  padding-top: 0.3rem;
}

.card-content {
  line-height: 1.6;
  color: var(--clr-very-dark-blue);
}

.avatar-container {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 0.4rem;
}

.img-avatar {
  width: 100%;
  max-width: 3rem;
  border-radius: 50%;
}

.avatar-info {
  padding-left: 1rem;
}

.name {
  margin: 0;
}

.job-title {
  font-size: 0.8rem;
  font-weight: 500;
}

/* Get early access section --------- */
#early-access {
  background-color: var(--clr-desaturated-blue);
  padding: 4rem 0;
  text-align: center;

  color: var(--clr-Light-grayish-blue);
}

.title-2 {
  font-size: 1.2rem;
}

.info {
  line-height: 1.6;
}

form {
  font-family: "Raleway", sans-serif;
  margin-bottom: 3rem;
}

.input-early-access,
.btn-early-access {
  width: 100%;
}

.input-early-access {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  outline: none;
}

/* Footer -------- */
#footer,
#attribution {
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-Light-grayish-blue);
}

#footer {
  padding: 4rem 0;
}

.phone {
  margin-top: 2rem;
  padding-bottom: 0.8rem;
}

.email {
  padding-top: 0.5rem;
}

.phone-number,
.email-address {
  padding-left: 0.8rem;
}

.footer--link_1,
.footer--link_2,
.socials-links {
  margin-top: 2rem;
}

.footer--item {
  padding: 0.6rem 0;
  cursor: pointer;
}

.socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  margin: 0 1rem;
  height: 2.5rem;

  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.icon-wrapper__fb,
.icon-wrapper__twitter,
.icon-wrapper__instagram {
  border: 1px solid var(--clr-Light-grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.attribution a {
  color: white;
  text-decoration: underline;
}

/* Navigation responsive on small screen size */
@media (max-width: 21.875rem) {
  .navigation__wrapper {
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
  }

  .nav-item + .nav-item {
    padding: 0;
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 66rem;
  }

  /* Hero section ---------- */
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper--content {
    flex: 1;
  }

  .wrapper--content {
    order: -1;
    padding-right: 2rem;
    text-align: left;
    margin-right: 1rem;
  }

  .hero-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-group-1 {
    flex-basis: 70%;
  }

  .input {
    margin-bottom: 0;
  }

  .btn-form {
    flex-basis: 30%;
    margin-top: 0;
    margin-left: 1rem;
  }

  /* Stay productive section ---------- */
  .stay-productive {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-img {
    flex: 40%;
  }

  .img-stay-productive {
    max-width: 27rem;
  }

  .wrapper--content--stay-productive {
    flex: 60%;
  }

  .wrapper--content--stay-productive {
    order: -1;
  }

  .title-1,
  .paragraph,
  .how-fylo-works,
  .card {
    text-align: left;
  }

  .title-1 {
    font-size: 1.7rem;
  }

  .paragraph {
    width: 70%;
    font-size: 0.9rem;
  }

  .how-fylo-works {
    padding-bottom: 0.5rem;
  }

  .card {
    margin: 2rem 0;
    padding: 1rem 0.99rem;
    width: 100%;
    max-width: 25rem;
  }

  .card-content,
  .avatar-container {
    font-size: 0.9rem;
  }

  /* Get early access section ---------- */
  .wrapper--content__early-access {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-section {
    flex-basis: 65%;
  }

  .form {
    flex-basis: 35%;
  }

  .content-section {
    text-align: left;
  }

  .info {
    width: 75%;
  }

  .form {
    margin-bottom: 0;
    text-align: left;
  }

  .btn-early-access {
    width: 45%;
    font-size: 0.8rem;
  }

  /* Footer section ---------- */
  .footer--wrapper {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: baseline;
  }

  .footer--item:hover {
    color: var(--clr-desaturated-blue-hover);
  }

  /* social link hover */
  .icon-wrapper__fb:hover {
    color: #1877f2;
    border: 1px solid #1877f2;
  }

  .icon-wrapper__twitter:hover {
    color: #1da1f2;
    border: 1px solid #1da1f2;
  }

  .icon-wrapper__instagram:hover {
    color: #8a3ab9;
    border: 1px solid #8a3ab9;
  }
}
