@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1.5rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5rem 0;
}

.header-hero-img-mobile,
.img-illustration-grow-together,
.img-illustration-flowing-conversation,
.img-illustration-your-users {
  width: 100%;
}

body {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
}

/* ---------- header ----------*/
.header {
  background-color: hsl(193, 100%, 96%);
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
}
.header-logo {
  max-width: 7rem;
}
.header-btn {
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: black;
  border-radius: 1rem;
  box-shadow: 3px 2px 109px -13px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  font-weight: bold;
}
.header-btn:hover {
  color: hsl(208, 11%, 55%);
}
.header-hero {
  text-align: center;
}
.header-hero-content--title {
  width: 60%;
  margin: 0 auto;
}
.header-hero-content__content {
  padding: 1.5rem 0;
  width: 65%;
  margin: 0 auto;
}
.header-hero-btn {
  padding: 1em 3em;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border: none;
  cursor: pointer;
  border-radius: 4em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.header-hero-btn:hover {
  background-color: hsl(321, 83%, 77%);
}
.header-hero-img-mobile {
  max-width: 35rem;
}

@media (min-width: 64rem) {
  .header {
    background-image: url("../images/bg-hero-desktop.svg");
  }
  .header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    text-align: left;
    padding: 2rem 0;
  }
  .header-hero-content--title, .header-hero-content__content {
    margin: 0;
  }
  .header-hero-content__content {
    width: 80%;
    font-size: 0.9rem;
  }
  .header-hero-img-mobile {
    max-width: 24rem;
  }
}
/* ---------- section: grow-together ----------*/
.wrapper__grow-together,
.wrapper__flowing-conversations,
.wrapper__your-users {
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 4px 0px 22px -4px rgba(0, 0, 0, 0.38);
  border-radius: 0.8rem;
  padding: 4rem 2rem 2.4rem 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.img-illustration-grow-together,
.img-illustration-flowing-conversation,
.img-illustration-your-users {
  max-width: 20rem;
}

.grow-together__content,
.flowing-conversations__content,
.your-users__content {
  padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.content {
  color: hsl(208, 11%, 55%);
  font-size: 0.9rem;
}

/* ---------- section: flowing-conversations ----------*/
#flowing-conversations {
  margin-top: 3rem;
}

.wrapper__flowing-conversations {
  margin-top: 1rem;
}

/* ---------- section: your-users ----------*/
#your-users {
  margin-top: 3rem;
  margin-bottom: 17rem;
}

.wrapper__your-users {
  margin-top: 1rem;
}

/* ---------- section: footer ----------*/
#footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  position: relative;
  padding-top: 10rem;
  font-size: 1rem;
}

.footer-header {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 4px 0px 22px -4px rgba(0, 0, 0, 0.38);
  color: black;
  padding: 4rem;
  text-align: center;
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-header-title {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.footer-header__btn {
  padding: 0.8rem 0.5rem;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 2rem;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 0.5rem;
  box-shadow: 3px 2px 109px -13px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.footer-header__btn:hover {
  background-color: hsl(321, 83%, 77%);
}

.company-info {
  padding-top: 2rem;
}
.company-location {
  display: flex;
}
.company-phone, .company-email {
  padding-top: 1.5rem;
}

.address-location {
  padding-left: 1rem;
  width: 80%;
}

.phone-number,
.email-address {
  padding-left: 1rem;
}

.link_1 {
  padding-top: 2rem;
}

.wrapper-socials {
  padding: 2rem 0;
  text-align: center;
}

.social-box {
  border: 1px solid white;
  padding: 0.5rem 0.6rem;
  border-radius: 50%;
  cursor: pointer;
}
.social-box:hover {
  border-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}

.twitter {
  margin: 0 1rem;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 64rem) {
  .wrapper__grow-together,
  .wrapper__flowing-conversations,
  .wrapper__your-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2.4rem 2rem;
  }
  .img-illustration-grow-together,
  .img-illustration-your-users {
    order: 1;
  }
  .wrapper__flowing-conversations {
    padding: 4rem 2rem 2.4rem 2rem;
  }
  .grow-together__content,
  .your-users__content,
  .flowing-conversations__content {
    text-align: left;
    padding-top: 0;
    padding-left: 2rem;
  }
  .flowing-conversations__content {
    padding-left: 6rem;
  }
  .content {
    width: 85%;
  }
  .flowing-conversations__content .content {
    width: 99%;
  }
  .wrapper-footer__content {
    position: relative;
  }
  .footer--content {
    display: grid;
    grid-template-columns: 45% 15% 15% 25%;
    gap: 1rem;
    margin: 2rem 0;
    align-items: start;
  }
  .company-info {
    padding-top: 0;
  }
  .link_1 {
    padding-top: 0;
  }
  .wrapper-socials {
    padding-top: 0.7rem;
  }
  .copyright {
    text-align: right;
    margin-top: 1rem;
    position: absolute;
    left: 5px;
    right: -139px;
    top: 320px;
  }
  .attribution {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
