*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #222c2a;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Playfair Display', sans-serif;
  margin-top: 0;
  font-weight: 900;
  line-height: 1.1;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

section {
  padding: 4em 0;
}

.header {
  background-color: #f3eed9;
  padding: 200px 0;
  text-align: center;
  color: #824936;
}

.title {
  /* margin-top: 0; */
  text-transform: uppercase;
  color: #222c2a;
  letter-spacing: 10px;
}

.header__content__paragraph {
  font-size: 3rem;
}

/* ===== section made custom ===== */
.made__custom {
  background-color: #222c2a;
  color: #fff;
}

/* ===== section created care ===== */
.created__care {
  background-color: #824936;
  color: #fff;
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 4em;
  }

  .header__content__paragraph {
    font-size: 3.75rem;
  }
}
