*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  /* display: inline-block; */
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

p {
  font-family: 'Roboto ';
  font-size: 21px;
  line-height: 1.5;
}

.subtitle {
  font-family: 'Playfair Display';
  font-size: 36px;
  font-weight: 900;
}

.header {
  background-color: #f3eed9;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__content {
  margin: 0 auto;
  /* border: 2px solid tomato; */
  width: 70%;
  text-align: center;
}

.title {
  font-family: 'Roboto Light';
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.header__content__paragraph {
  color: #824936;
  padding-top: 0.2em;
  font-family: ' Playfair Display';
  font-size: 60px;
  font-weight: 900;
}

/*===== quality design =====*/
.quality__design {
  margin: 4em 0;
  padding: 2em 0;
}

.subtitle--brown {
  color: #824936;
  text-align: center;
  margin-bottom: 1em;
}

.quality__design__paragraph {
  display: flex;
  justify-content: space-between;
}

.quality__design__paragraph p {
  width: 100%;
  line-height: 1.8;
}

.quality__design__paragraph p:first-child {
  margin-right: 3em;
}

/*===== made custom =====*/
.made__custom {
  background-color: #222c2a;
  color: #fff;
  padding: 3em 0;
}
.made__custom__content {
  display: flex;
}

.made__custom__content__info {
  /* width: 50%; */
}

.made__custom__content p {
  margin-top: 1em;
  width: 80%;
}

.img-custom {
  border-color: #222c2a;
  align-self: flex-start;
}

/*===== created care =====*/
.created__care {
  padding: 4em 0;
  background-color: #824936;
  color: #fff;
}

.created__care__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.created__care__content p {
  margin-top: 1em;
  width: 80%;
}

.img-created {
  align-self: flex-start;
  margin-right: 4em;
}
