@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-grayish-blue: hsl(246, 25%, 77%);
  --clr-blue: hsl(248, 32%, 49%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr-red);
  font-family: 'Poppins', sans-serif;

  background-image: url('./images/bg-intro-mobile.png');
  background-repeat: none;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  min-height: 100vh;

  color: white;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;

  padding: 0 1.2rem;
}

.left,
.right {
  flex: 1;
}

/* Left */
.left {
}
/* Right */
.right {
  margin-top: 2rem;
}

.upper-btn {
  padding: 1.5rem 1.5rem;
  color: #ffffff;
  background: var(--clr-blue);

  width: 100%;
  border-radius: 0.5rem;
  border: none;

  box-shadow: 1px 15px 5px -8px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 15px 5px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 15px 5px -8px rgba(0, 0, 0, 0.57);
}

.strong {
  font-weight: bold;
}

.form--wrapper {
  background: white;
  border-radius: 0.5rem;
  margin-top: 1rem;

  box-shadow: 1px 15px 5px -8px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 15px 5px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 15px 5px -8px rgba(0, 0, 0, 0.57);
}

.form {
  padding: 1rem 1.5rem;
}

.input {
  width: 100%;
  border-radius: 0.3rem;
  padding: 1rem;

  margin-bottom: 1rem;
  border-color: #ccc;
  font-weight: 900;

  outline: none;
  border-width: 0.1rem;
}

.form-btn {
  width: 100%;
  background: var(--clr-green);
  color: #ffffff;

  text-transform: uppercase;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;

  border: none;
  font-weight: 700;
}

.terms-and-conditions {
  color: var(--clr-grayish-blue);
  font-size: 0.8rem;
  padding-bottom: 1rem;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.5rem;

  padding-right: 0.8rem;
  font-weight: 400;
}

.highlight {
  color: var(--clr-red);
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url('./images/bg-intro-desktop.png');
    background-size: contain;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main {
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;

    margin-bottom: 2rem;
  }

  .left {
    align-self: center;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .title {
    font-weight: 700;
    font-size: 2.5rem;
    width: 90%;
  }

  .attribution {
    /* margin-top: 6rem; */
  }
}
