:root {
  --primary-blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

html {
  zoom: 110%;
}

body {
  margin: 0;
  font-size: 18px;
}

ion-icon {
  color: blue;
  border: 1px solid var(--pale-blue);
  padding: 0.4em;
  border-radius: 50%;
}

.main {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  max-width: 650px;
}

.content-lauching {
  font-size: 50px;
  margin-bottom: 0;
  color: var(--gray);
  font-weight: 100;
}

.soon-bold {
  font-weight: 700;
  color: #000;
}

.content-subscribe {
  font-size: 1.3em;
  margin: 0.8em;
  font-weight: 300;
}

input {
  border: 1px solid hsl(223, 100%, 88%);
  width: 100%;
  padding: 1.2em 2em;

  font-family: "Libre Franklin", sans-serif;
  margin: 1em 0;
  border-radius: 30px;

  outline: none;
}

input::placeholder {
  color: hsl(223, 100%, 88%);
}

.img-illustration {
  width: 100%;
  margin: 1.5em 0;
}

.footer {
  color: var(--gray);
}

.btn {
  width: 100%;
  border-radius: 30px;
  padding: 1em 0.5em;

  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
  color: #fff;

  cursor: pointer;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;

  outline: none;
  border: none;
  box-shadow: 0 5px 10px hsl(223, 100%, 88%);
}

@media (min-width: 760px) {
  .form {
    display: flex;
    align-items: center;
  }

  .btn {
    flex: 1;
    padding: 1.2em 3em;
    margin-left: 1em;
  }

  .form-group {
    width: 80%;
  }
}
