@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@700&display=swap");

:root {
  --clr-pink: hsl(322, 100%, 66%);
  --clr-light-pink: hsl(321, 100%, 78%);
  --clr-light-red: hsl(0, 100%, 63%);
  --clr-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-very-pale-blue: hsl(207, 100%, 98%);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* ----- Utilities ---- */
.container {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 2rem;
}

.img-responsive {
  width: 100%;
  max-width: 40rem;
}

/* ----- Header ----- */
.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 8rem;
}

.head-btn {
  padding: 0.3rem 1rem;
  color: var(--clr-light-pink);
  background-color: white;
  border: 2px solid transparent;

  border-color: var(--clr-light-pink);
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}

/* ----- Hero section ----- */
.hero-section {
  margin-top: 4rem;
  text-align: center;
}

.hero-title {
  font-family: "Poppins", sans-serif;
}

.hero-btn,
.btn-community,
.btn-subscribe {
  background-color: var(--clr-pink);
  color: white;
  font-weight: bold;

  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.hero-btn,
.btn-community {
  margin: 2.5rem 0;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
}

.hero-btn:hover,
.btn-community:hover,
.btn-subscribe:hover {
  background-color: var(--clr-light-pink);
}

.head-btn:hover {
  border-color: var(--clr-light-pink);
}

.hero-img {
  margin: 2rem 0;
  width: 100%;
  max-width: 40rem;
}

/* ----- count section ----- */
.count-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communities,
.message {
  margin: 2rem 0 4rem 0;
}

.icon-communities,
.icon-messages {
  width: 2rem;
}

.communities-total,
.total-message {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  margin: 0;
}

.label {
  color: #ccc;
  font-size: 0.9rem;
}

/* ----- grow together section ----- */
#grow-together {
  padding: 2rem 0 3rem 0;
  text-align: center;
  background-color: var(--clr-very-pale-blue);
}

.grow-together,
.flowing-conversations,
.your-users {
  display: flex;
  flex-direction: column;
}

.wrapper--grow-together,
.wrapper--flowing-conversations,
.wrapper--your-users {
  margin-top: 3rem;
}

.content {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.img-grow-together,
.img-flowing-conversation,
.img-your-users {
  order: -1;
}

/* ----- Flowing conversations ----- */
#flowing-conversations {
  padding: 8rem 0;
  text-align: center;
}

/* ----- Your users section ----- */
#your-users {
  background-color: #f6fbff;
  padding: 6rem 0;
  text-align: center;
}

/* ----- Your-community ---- */
#your-community {
  text-align: center;
  margin: 8rem 0;
  padding: 4rem 0;
}

.title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.btn-community {
  margin-top: 2rem;
}

/* ---- Footer ---- */
#footer {
  margin: 6rem 0 0 0;
  background-color: #00252e;
  color: white;
  padding: 2rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
}

.about-us {
  margin-top: 3.5rem;
}

.logo__footer {
  width: 10rem;
}

.paragraph {
  line-height: 1.6;
  width: 90%;
}

#phone,
#email,
#socials {
  margin-top: 1.5rem;
}

.phone-number,
.email {
  padding-left: 1rem;
}

.fa + .fa {
  padding-left: 1rem;
}

.fa-facebook-square:hover {
  color: #316ff6;
  cursor: pointer;
}

.fa-instagram:hover {
  color: #bc2a8d;
  cursor: pointer;
}

.fa-twitter-square:hover {
  color: #1da1f2;
  cursor: pointer;
}

.contact-us {
  margin-top: 1rem;
  order: -1;
  line-height: 1.6;
}

.newsletter {
  text-transform: uppercase;
}

.input {
  width: 96%;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
}

.form-group {
  text-align: right;
}

.btn-subscribe {
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  display: inline-block;
}

#attribution {
  background-color: #00252e;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;

  padding: 1rem 0;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 64rem) {
  .container {
    padding: 0;
    max-width: 60rem;
  }

  .content {
    width: 90%;
  }

  .img-responsive {
    max-width: 25rem;
  }

  /* ----- Hero section ----- */
  .hero-content {
    width: 60%;
    margin: 0 auto;
  }

  /* ----- Count section ----- */
  .count-section {
    flex-direction: row;
    justify-content: space-around;
  }

  /* ----- Grow together, 
  flowing conversations & your users section ----- */
  #grow-together,
  #flowing-conversations,
  #your-users {
    text-align: left;
  }

  .wrapper--grow-together {
    margin-top: 0;
  }

  .grow-together,
  .flowing-conversations,
  .your-users {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper--grow-together,
  .wrapper--flowing-conversations,
  .wrapper--your-users,
  .img-grow-together,
  .img-flowing-conversation,
  .img-your-users {
    flex: 1;
  }

  .img-grow-together,
  .img-flowing-conversation,
  .img-your-users {
    order: 1;
  }

  /* ---- footer ----- */
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-us {
    order: -1;
  }

  .about-us,
  .contact-us {
    flex: 1;
  }

  .about-us {
    padding-right: 5rem;
  }

  .contact-us {
    margin-top: 3.1rem;
    padding-left: 3rem;
  }

  .newsletter {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    padding-left: 1rem;
  }

  .input {
    padding: 0.6rem;
    border-radius: 0.2rem;
  }

  .btn-subscribe {
    margin-top: 0;
  }
}
