@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-dark-blue-intro-and-email-bg: hsl(217, 28%, 15%);
  --clr-dark-blue-main-bg: hsl(218, 28%, 13%);
  --clr-dark-blue-footer-bg: hsl(216, 53%, 9%);
  --clr-dark-blue-testimonials-bg: hsl(219, 30%, 18%);

  --clr-cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --clr-blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --clr-light-red-error: hsl(0, 100%, 63%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-dark-blue-main-bg);
  color: var(--clr-white);
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.header,
.hero {
  background-color: var(--clr-dark-blue-intro-and-email-bg);
}

/* Header ------------ */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
  align-items: center;
}

.logo {
  width: 8rem;
}

.nav--wrapper {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav--wrapper .nav-items {
  margin: 0 1rem;
  cursor: pointer;
}

main {
  /* we're doing to this to postion the form
  section between the main and the footer section */
  position: relative;
  padding-bottom: 20rem;
}

/* Hero ------------ */

/*  we've done this for the curvy background */
.hero {
  position: relative;
  z-index: 1;
  margin-bottom: 8rem;
}

.hero::after {
  content: "";
  background-image: url("./images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  background-position: bottom;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
/*  end - bg curvy */

.hero--container {
  padding-top: 3rem;
  text-align: center;
  line-height: 1.6;
}

.hero-img {
  width: 100%;
  max-width: 25rem;
}

.hero-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero-paragraph {
  margin-bottom: 1rem;
  line-height: 2;
}

.hero-btn {
  padding: 1rem 5rem;
  border-radius: 2rem;
  color: var(--clr-white);

  border: none;
  margin-top: 1rem;
  background: linear-gradient(
    to right,
    var(--clr-cyan-inside-call-to-action-gradient),
    var(--clr-blue-inside-call-to-action-gradient)
  );

  font-weight: bold;
  cursor: pointer;
}

.hero-btn:hover,
.form-btn:hover {
  background: var(--clr-cyan-inside-call-to-action-gradient);
}

/* feature section ------------ */
.feature-wrapper {
  text-align: center;
}

.feature + .feature {
  margin: 3rem 0;
}

.icon {
  width: 5rem;
}

.icon-access-anywhere,
.icon-security {
  width: 4rem;
}

.feature-title {
  margin: 1rem 0;
}

.feature-content {
  width: 55%;
  margin: 0 auto;
  line-height: 1.6;
}

/* Stay productive ------------ */
.stay-productive-wrapper {
  margin: 6rem 0 3rem 0;
  text-align: center;
  padding: 0 4rem;
}

.illustration-stay-productive {
  width: 100%;
  max-width: 25rem;
}

.stay-productive-wrapper__content {
  text-align: left;
  margin-top: 3rem;
}

.stay-prod-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.p-container {
  line-height: 1.7;
}

.p-container > p {
  margin-bottom: 1rem;
}

.link {
  font-size: 0.9rem;
  display: flex;
  justify-items: center;

  padding-bottom: 0.2rem;
  text-decoration: underline;
  text-decoration-color: var(--clr-cyan-inside-call-to-action-gradient);

  cursor: pointer;
}

.link-title {
  margin-bottom: 0.2rem;
}

.icon-arrow {
  padding-left: 0.2rem;
}

/* testimonials ------------ */
.wrapper-testimonials {
  padding: 0 4rem;
  margin: 8rem 0;
  position: relative;
}

.wrapper-testimonials::before {
  content: url(./images/bg-quotes.png);
  position: absolute;
  top: -34px;
  left: 74px;
  z-index: -1;
}

.card {
  width: 100%;
  background-color: var(--clr-dark-blue-testimonials-bg);

  color: var(--clr-white);
  border-radius: 0.5rem;
  line-height: 1.6;

  margin: 0 auto;
  box-shadow: -4px 10px 54px 2px var(--clr-dark-blue-footer-bg);
  -webkit-box-shadow: -4px 10px 54px 2px var(--clr-dark-blue-footer-bg);
  -moz-box-shadow: -4px 10px 54px 2px var(--clr-dark-blue-footer-bg);

  padding: 1.5rem;
  font-size: 0.9rem;
}

.card + .card {
  margin-top: 3rem;
}

.card-content {
  line-height: 1.8;
  width: 95%;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

.profile-1,
.profile-2,
.profile-3,
.profile-4 {
  width: 100%;
  max-width: 2rem;
  border-radius: 50%;
  padding: 0.5rem 0;
}

.profile-info {
  padding-left: 0.5rem;
}

.profile-name {
  font-weight: bold;
  font-size: 0.8rem;
}

.profile-job {
  font-size: 0.7rem;
}

/* Form section ---------------- */
.form-section {
  position: absolute;
  left: auto;
  bottom: -10%;
}

.form-section--wrapper {
  background-color: var(--clr-dark-blue-intro-and-email-bg);
  padding: 3rem 1rem;

  margin: 2rem 4rem 10rem 4rem;
  text-align: center;
  border-radius: 0.5rem;
}

.form-section-title {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.form-section-content {
  margin: 1rem auto;
  width: 75%;
  line-height: 1.6;
  padding-bottom: 1.3rem;
}

.form {
  padding: 0 2rem;
}

.email {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  border: none;
}

.email,
.form-btn {
  width: 100%;
}

.form-btn {
  border-radius: 2rem;
  padding: 1rem;
  border: none;

  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--clr-cyan-inside-call-to-action-gradient),
    var(--clr-blue-inside-call-to-action-gradient)
  );
  color: var(--clr-white);

  font-weight: bold;
  font-size: 1rem;
}

/* Footer ---------------- */
footer {
  background-color: var(--clr-dark-blue-footer-bg);
  padding: 8rem 4rem;
  padding-top: 18rem;
}

.footer-logo {
  margin-bottom: 2.5rem;
}

.location {
  margin-bottom: 1.5rem;
  display: flex;
  justify-items: center;
  align-items: flex-start;
}

.location-info {
  width: 70%;
}

.location-info,
.phone-numer,
.email-address {
  padding-left: 1rem;
}

.contact-us {
  margin-bottom: 2rem;
}

.phone {
  margin-bottom: 1.5rem;
}

.footer-navigation {
  margin: 4rem 0;
}

.nav-1,
.nav-2 {
  padding: 0;
  list-style: none;
}

.nav-1 {
  margin-bottom: 3rem;
}

.nav--item + .nav--item {
  padding-top: 1rem;
}

.socials-link {
  margin-bottom: 6rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  border: 1px solid var(--clr-white);
  padding: 0.8rem 1rem;
  border-radius: 50%;
}

.twitter-icon {
  margin: 0 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries for navigation for 
small screen size -------------- */
@media (max-width: 27rem) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .nav--wrapper {
    margin: 1rem 0;
  }

  .nav--wrapper .nav-items {
    margin: 0;
  }

  .nav-items + .nav-items {
    margin: 0 1rem;
  }
}

@media (min-width: 64rem) {
  main {
    padding-bottom: 13rem;
  }

  .container {
    max-width: 62rem;
  }

  /* Hero section --------- */
  .hero {
    margin-bottom: 9rem;
  }

  .hero::after {
    background-image: url("./images/bg-curvy-desktop.svg");
  }

  .hero-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
  }

  /* Feature section --------- */
  .feature {
    margin-bottom: 6rem;
  }

  .feature-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;

    /* margin-bottom: 4rem; */
  }

  .feature + .feature {
    margin: 0;
  }

  .icon-security {
    width: 3rem;
  }

  .feature-3,
  .feature-4 {
    margin-top: 2rem;
  }

  .feature-4 {
    grid-row: 2;
    margin-top: 4rem;
  }

  .feature-content {
    width: 80%;
  }

  /* Stay productive section------------- */
  .stay-productive-wrapper {
    margin: 6rem 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
  }

  .illustration-stay-productive {
    flex-basis: 35%;
  }
  .stay-productive-wrapper__content {
    /* flex: 1; */
    flex-basis: 65%;
  }

  .stay-productive-wrapper__content {
    padding-left: 3rem;
  }

  .stay-prod-title {
    width: 50%;
    line-height: 1.6;
  }

  .p-container {
    font-size: 0.9rem;
  }

  /* Testimonials section------------- */
  .testimonials {
    margin-top: 8rem;
  }

  .wrapper-testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    padding: 0;
  }

  .wrapper-testimonials::before {
    top: -34px;
    left: -12px;
    z-index: -1;
  }

  .card {
    max-width: 40rem;
  }

  .card + .card {
    margin-top: 0;
  }

  .card-content {
    width: 100%;
  }

  /* Form section------------- */
  .form-section {
    /* transform: translate(2.4rem, 0.63rem); */
    transform: translateY(42px);
  }

  .form {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
    align-items: center;
    padding: 0 4rem;
    justify-content: center;
  }

  .email {
    margin-bottom: 0;
  }

  /* Footer section --------------- */
  .footer-wrapper {
    display: grid;
    grid-template-columns: 30% 23% 15% 12% 22%;
    gap: 0.5rem;
    justify-content: start;
    align-items: start;
  }

  .contact-us {
    margin-bottom: 0;
  }

  .footer-navigation {
    margin: 0;
  }

  .nav-1 {
    margin-bottom: 0;
  }

  .socials-link {
    margin-bottom: 0;
  }

  .footer-info {
    margin-top: 8rem;
  }
}

/* this media query is for the overtop form on big screen size */
@media (min-width: 80rem) {
  .form-section {
    /* transform: translate(9rem, -1.37rem); */
    /* transform: translateY(-500px); */
    transform: translate(15%, 5%);
    margin-left: auto;
    margin-right: auto;
  }
}
