@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-dark-blue-intro-and-email-bg: hsl(217, 28%, 15%);
  --clr-dark-blue-main-bg: hsl(218, 28%, 13%);
  --clr-dark-blue-footer-bg: hsl(216, 53%, 9%);
  --clr-dark-blue-testimonials-bg: hsl(219, 30%, 18%);

  --clr-cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --clr-blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --clr-light-red-error: hsl(0, 100%, 63%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Raleway", sans-serif;
  background-color: var(--clr-dark-blue-main-bg);
  color: var(--clr-white);
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.header,
.hero {
  background-color: var(--clr-dark-blue-intro-and-email-bg);
}

/* Header ------------ */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
  align-items: center;
}

.logo {
  width: 8rem;
}

.nav--wrapper {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav--wrapper .nav-items {
  margin: 0 1rem;
  cursor: pointer;
}

/* Hero ------------ */
.hero--container {
  padding-top: 3rem;
  text-align: center;
  line-height: 1.6;
}

.hero-img {
  width: 100%;
  max-width: 25rem;
}

.hero-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero-paragraph {
  margin-bottom: 1rem;
  line-height: 2;
}

.hero-btn {
  padding: 1rem 5rem;
  border-radius: 2rem;
  color: var(--clr-white);

  border: none;
  margin-top: 1rem;
  background: linear-gradient(
    to right,
    var(--clr-cyan-inside-call-to-action-gradient),
    var(--clr-blue-inside-call-to-action-gradient)
  );

  font-weight: bold;
}

.bg-curvy-mobile,
.bg-curvy-desktop {
  display: block;
  width: 100%;
}

/* feature section ------------ */
.feature-wrapper {
  text-align: center;
}

.feature + .feature {
  margin: 3rem 0;
}

.icon {
  width: 5rem;
}

.icon-access-anywhere,
.icon-security {
  width: 4rem;
}

.feature-title {
  margin: 1rem 0;
}

.feature-content {
  width: 55%;
  margin: 0 auto;
  line-height: 1.6;
}

/* Stay productive ------------ */
.stay-productive-wrapper {
  margin: 3rem 0;
  text-align: center;
}

.illustration-stay-productive {
  width: 100%;
  max-width: 25rem;
}

.stay-productive-wrapper__content {
  text-align: left;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 27rem) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .nav--wrapper {
    margin: 1rem 0;
  }

  .nav--wrapper .nav-items {
    margin: 0;
  }

  .nav-items + .nav-items {
    margin: 0 1rem;
  }
}
